* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.forside {
  text-align: center;
  font-size: 3rem;
  margin-top: 50px;
  line-height: 10rem;
}

.stor {
  font-size: 3rem;
  transition: 0.4s;
}

.stor:hover {
  font-size: 4rem;
  transition: 0.4s;
}

html {
  background-color: rgb(0, 0, 0);
}

img {
  width: 100%;
}

.produkt_container {
  padding: 30px;
  gap: 10px;
}

/* Udsolgt banner */
.sold_out {
  background-color: rgba(0, 0, 0, 0.505);
  position: relative;
  top: 6%;
  left: 3%;
  text-align: center;
  max-width: 90px;
}

/* Produktliste billeder */
link:hover {
  width: 100%;
  scale: 102%;
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: aliceblue;
}
h2 {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: aliceblue;
  font-size: 1.3rem;
}
h3 {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: aliceblue;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: aliceblue;
}
a {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: aliceblue;
}

a:hover {
  color: orange;
}
/* MOBILE */
@media screen and (max-width: 600px) {
  .grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 30px;
  }

  /* Produkt siden */
  .produkt_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* TABLET */
@media only screen and (min-width: 600px) and (max-width: 991px) {
  .grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding: 30px;
  }

  /* Produkt siden */
  .produkt_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* DESKTOP */
@media screen and (min-width: 991px) {
  .grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    padding: 30px;
  }

  /* Produkt siden */
  .produkt_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 20px;
}

ol li {
  border: 2px solid #0d0d0d;
  padding: 20px;
  text-align: center;
  list-style-type: none;
  font-size: 1.5rem;
}
